<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.dsmsocial" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainPage"
            android:label="@string/title_activity_main_page" >
        </activity>
        <activity
            android:name=".ArtistActivity"
            android:label="@string/title_activity_artist"
            android:parentActivityName=".MainPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.application.dsmsocial.MainPage" />
        </activity>
        <activity
            android:name=".ShopActivity"
            android:label="@string/title_activity_shop"
            android:parentActivityName=".MainPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.application.dsmsocial.MainPage" />
        </activity>
    </application>

</manifest>
